In [23]:
import pandas as pd
import numpy as np
 
# Load the data from Excel
A = pd.read_excel('Lab Session Data.xlsx',usecols=[1,2,3])
A.head()

   Candies (#)  Mangoes (Kg)  Milk Packets (#)
0           20             6                 2
1           16             3                 6
2           27             6                 2
3           19             1                 2
4           24             4                 2

In [22]:
B= pd.read_excel('Lab Session Data.xlsx',usecols=[4])

In [24]:
B.head()

   Payment (Rs)
0           386
1           289
2           393
3           110
4           280

In [26]:
# Compute the pseudo-inverse of A
A_pseudo_inv = np.linalg.pinv(A)

# Calculate the cost vector
cost = np.dot(A_pseudo_inv, B)

In [28]:
cost

array([[ 1.],
       [55.],
       [18.]])

In [30]:
#For dimensionality
cost.ndim

2

In [31]:
rank_A = np.linalg.matrix_rank(A)
print(f'Rank of Matrix A: {rank_A}')

Rank of Matrix A: 3